In [36]:
import pandas as pd
from google.colab import drive

drive.mount('/content/drive')
data = pd.read_csv('drive/MyDrive/Colab Notebooks/mobile_data.csv')
##Cau A 
dataHead = data.head(5)
dataTail = data.tail(5)
##Cau C
valueMax = data.loc[data['price'].idxmax()]
##Cau E
sortAsc = data.sort_values('price',ascending=True)
sortAsc

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

    index        company body-style  ...  horsepower  average-mileage    price
13     16      chevrolet  hatchback  ...          48               47   5151.0
27     36          mazda  hatchback  ...          68               30   5195.0
48     66         toyota  hatchback  ...          62               35   5348.0
36     49     mitsubishi  hatchback  ...          68               37   5389.0
28     37          mazda  hatchback  ...          68               31   6095.0
..    ...            ...        ...  ...         ...              ...      ...
11     14            bmw      sedan  ...         182               16  41315.0
35     47  mercedes-benz    hardtop  ...         184               14  45400.0
22     31          isuzu      sedan  ...          70               38      NaN
23     32          isuzu      sedan  ...          70               38      NaN
47     63        porsche  hatchback  ...         288               17      NaN

[61 rows x 10 columns]